html
	head
		title tfi-test
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	body
			
		h1 Please enter the test number on url - http://localhost:8000/technology/testnumber and press enter
			p e.g http://localhost:8000/http/test1